*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
h1 {
  color: red !important;
}
