@import "utils/_variables.scss";
@import "components/_buttons.scss";
@import "base/_markup_basis.scss";
@import "base/_sections.scss";

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}
