@import "../utils/_variables.scss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #262626;
}

::-webkit-scrollbar-thumb:hover {
  background: #060608;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
  background-color: $white;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Medium', sans-serif;
  line-height: 1.4;
}

p, span, li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 2.4rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: 2.2rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

h4 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

@media (max-width: $medium_device) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: $small_device) {
  h1 {
    font-size: 2.1rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}

a {
  color: $primary_for_btn;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;

  &[target='_blank'] {
    cursor: alias;
  }

  &:hover:not(.btn) {
    color: #62CE9F;
  }
}


img {
  user-select: none;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
}

li {
  list-style-position: inside;
}

pre {
  max-height: 35rem;
  padding: 10px;
  background-color: $primary;
  overflow-x: hidden;
  overflow-y: scroll;
}


