@import "../utils/_variables.scss";

footer,
.header__section,
.example__section {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;

  .row {
    margin: auto;
    max-width: 1600px;
  }
}

footer {
  .col:last-of-type {
    text-align: right;
    direction: rtl;
  }
}

@media (max-width: $medium_device) {
  footer {
    .col:last-of-type {
      text-align: left;
      direction: ltr;
    }
  }
}

.header__section {
  padding: 15% 23vh;
  background: url('/src/assets/img/list.png') no-repeat right bottom;
}

.example__section {
  background-color: white;
}
.how__section {
  background-color: $black;
  color: $white;
  p  {
    color: $white;
  }
  &_image {
    background-image: url('/src/assets/img/how.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
}

footer,
.header__section,
.example__section,
.how__section {
  padding: 8rem 13%;
}

@media (max-width: $large_device) {
  .header__section {
    padding: 10rem 10%;
  }
  footer,
  .example__section,
  .how__section{
    padding: 4rem 2rem;
  }
}

@media (max-width: $medium_device) {
  .header__section {
    padding: 20% 3%;
  }
  footer,
  .example__section,
  .how__section {
    padding: 3.5rem .5rem;

    .row {
      gap: 3rem !important;
      flex: 1;
      flex-direction: column;
    }
  }
  .example__section .row {
    flex-direction: column-reverse;
  }
}
