@import "../utils/_variables.scss";

.row {
  display: flex;
  flex: 3;
  gap: 2rem;
}

.col {
  flex: 1;
}

@for $c from 2 through 3 {
  .col-#{$c} {
    flex: $c;
  }
}

.al-c {
  align-items: center;
}
